<a href="https://colab.research.google.com/github/Mahdi-Abdollahii/NGC_6822/blob/main/NGC6822_reg_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Mahdi-Abdollahii/NGC_6822.git

Cloning into 'NGC_6822'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 67 (delta 21), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (67/67), done.

In [2]:
!git clone https://github.com/Mahdi-Abdollahii/AstroDC.git

Cloning into 'AstroDC'...
remote: Enumerating objects: 218, done.
remote: Counting objects: 100% (83/83), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 218 (delta 38), reused 0 (delta 0), pack-reused 135
Receiving objects: 100% (218/218), 1.13 MiB | 7.86 MiB/s, done.
Resolving deltas: 100% (97/97), done.

In [3]:
pip install git+https://github.com/Mahdi-Abdollahii/AstroDC.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/Mahdi-Abdollahii/AstroDC.git
  Cloning https://github.com/Mahdi-Abdollahii/AstroDC.git to /tmp/pip-req-build-9qv5rny0
  Running command git clone -q https://github.com/Mahdi-Abdollahii/AstroDC.git /tmp/pip-req-build-9qv5rny0
Building wheels for collected packages: AstroDC
  Building wheel for AstroDC (setup.py) ... done
  Created wheel for AstroDC: filename=AstroDC-1.0.4-py3-none-any.whl size=2576 sha256=71b9e3e1cd1dec62bfbd1e33f4594d6e2bfb004fa0d6e935f18792d5575272de
  Stored in directory: /tmp/pip-ephem-wheel-cache-rh5d8xrd/wheels/3a/dd/30/3b5d25852c9372703f4d564c038363f5a68f610031b9fd3335
Successfully built AstroDC
Installing collected packages: AstroDC
Successfully installed AstroDC-1.0.4

In [4]:
import numpy as np
import pandas as pd
from AstroDC import AstroDC as ADC
from astropy import units

In [5]:
file_address = '/content/NGC_6822/Data/final_cleaned_data.csv'
df = pd.read_csv(file_address , index_col='Mid')
df = df.replace('', 89.99)
df = df.fillna(89.99)

In [6]:
df

,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
Mid,,,,,,,,,,
1,10870.00,296.178920,-14.822860,17.520,0.04,16.530,0.04,16.190,0.05,S
2,10784.00,296.215450,-14.834690,17.450,0.03,16.530,0.04,16.200,0.06,S
3,11004.00,296.273410,-14.808610,17.600,0.03,16.620,0.03,16.270,0.05,S
4,11029.00,296.283080,-14.804970,17.460,0.03,16.550,0.02,16.220,0.05,S
5,12050.00,296.254270,-14.817640,18.170,0.07,17.250,0.10,16.700,0.05,S
...,...,...,...,...,...,...,...,...,...,...
381,89.99,296.003693,-14.974893,18.392,89.99,17.560,89.99,17.210,89.99,C
382,89.99,297.181274,-14.445981,18.530,89.99,18.264,89.99,17.292,89.99,C
383,89.99,297.108337,-14.493650,18.191,89.99,17.383,89.99,16.661,89.99,C
384,89.99,297.013916,-14.348797,18.201,89.99,17.552,89.99,16.944,89.99,C
385,89.99,295.689667,-15.155052,17.736,89.99,16.787,89.99,16.428,89.99,C

In [7]:
ADC.Reg_file( df ,'Ra(J2000) deg','Dec(J2000) deg', Units = units.deg, Color = 'red', Size = 10, File_name = 'NGC6822Reg')

NGC6822Reg.reg file of this data saved in local directory.