<a href="https://colab.research.google.com/github/Mahdi-Abdollahii/NGC_6822/blob/main/NGC6822_reg_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Mahdi-Abdollahii/NGC_6822.git

Cloning into 'NGC_6822'...
remote: Enumerating objects: 1337, done.
remote: Counting objects: 100% (271/271), done.
remote: Compressing objects: 100% (158/158), done.
remote: Total 1337 (delta 154), reused 175 (delta 113), pack-reused 1066
Receiving objects: 100% (1337/1337), 105.97 MiB | 7.58 MiB/s, done.
Resolving deltas: 100% (655/655), done.
Updating files: 100% (140/140), done.

In [2]:
!git clone https://github.com/Mahdi-Abdollahii/AstroDC.git

Cloning into 'AstroDC'...
remote: Enumerating objects: 319, done.
remote: Counting objects: 100% (184/184), done.
remote: Compressing objects: 100% (120/120), done.
remote: Total 319 (delta 73), reused 128 (delta 50), pack-reused 135
Receiving objects: 100% (319/319), 6.86 MiB | 10.61 MiB/s, done.
Resolving deltas: 100% (132/132), done.

In [3]:
pip install git+https://github.com/Mahdi-Abdollahii/AstroDC.git

Collecting git+https://github.com/Mahdi-Abdollahii/AstroDC.git
  Cloning https://github.com/Mahdi-Abdollahii/AstroDC.git to /tmp/pip-req-build-ylu4qw9q
  Running command git clone --filter=blob:none --quiet https://github.com/Mahdi-Abdollahii/AstroDC.git /tmp/pip-req-build-ylu4qw9q
  Resolved https://github.com/Mahdi-Abdollahii/AstroDC.git to commit 8316e67aa8d5f03931b6aa7743d9d8db596366f4
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: AstroDC
  Building wheel for AstroDC (setup.py) ... done
  Created wheel for AstroDC: filename=AstroDC-1.0.5-py3-none-any.whl size=2586 sha256=6c48987f1f6657fc07fcd48f7407ae9aad4639d9f1bf191e8aa02c33dfa23327
  Stored in directory: /tmp/pip-ephem-wheel-cache-bk3zn_m6/wheels/82/b8/db/4179fef6fc03770dd498d786816b5f961dce1b9a70bd9499cd
Successfully built AstroDC
Installing collected packages: AstroDC
Successfully installed AstroDC-1.0.5

In [4]:
import numpy as np
import pandas as pd
from AstroDC import AstroDC as ADC
from astropy import units

In [6]:
file_address = '/content/NGC_6822/Data/final_data_v2.csv'
df = pd.read_csv(file_address)
df = df.replace('', 89.99)
df = df.fillna(89.99)

In [7]:
df

,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types,DCG,Catalog
0,10870.00,296.178920,-14.822860,17.520,0.04,16.53,0.04,16.190,0.05,S,0.055301,Whitelock
1,10784.00,296.215450,-14.834690,17.450,0.03,16.53,0.04,16.200,0.06,S,0.036084,Whitelock
2,11004.00,296.273410,-14.808610,17.600,0.03,16.62,0.03,16.270,0.05,S,0.043961,Whitelock
3,11029.00,296.283080,-14.804970,17.460,0.03,16.55,0.02,16.220,0.05,S,0.053182,Whitelock
4,12050.00,296.254270,-14.817640,18.170,0.07,17.25,0.10,16.700,0.05,S,0.029053,Whitelock
...,...,...,...,...,...,...,...,...,...,...,...,...
371,89.99,296.187256,-14.854028,18.166,89.99,17.224,89.99,16.937,89.99,C,0.067590,Kacharov
372,89.99,296.227081,-14.876891,17.543,89.99,16.457,89.99,15.858,89.99,C,0.075278,Kacharov
373,89.99,296.226807,-14.881382,17.365,89.99,16.369,89.99,15.908,89.99,C,0.079776,Kacharov
374,89.99,295.976105,-14.796489,18.250,89.99,17.411,89.99,17.052,89.99,C,0.253948,Kacharov
375,89.99,296.003693,-14.974893,18.392,89.99,17.56,89.99,17.210,89.99,C,0.284993,Kacharov

In [8]:
ADC.Reg_file( df ,'Ra(J2000) deg','Dec(J2000) deg', Units = units.deg, Color = 'red', Size = 10, File_name = 'NGC6822Reg')

NGC6822Reg.reg file of this data saved in local directory.